<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-ad-sdk"
        version="2.1.2">

    <name>CordovaPluginAd</name>
    <description>cordova umeng analytics Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,ad</keywords>
    <repo>https://github.com/gotojmp/cordova-plugin-ad-sdk.git</repo>
    <issue>https://github.com/gotojmp/cordova-plugin-ad-sdk/issues</issue>

    <engines>
      <engine name="cordova" version=">=3.1.0"/>
    </engines>
    <js-module src="www/adsdk.js" name="AdSdk">
        <clobbers target="cordova.plugins.AdSdk"/>
    </js-module>

    <preference name="ADSDK_PACKAGE_NAME" />
    <preference name="ADSDK_APPKEY" />
    <preference name="ADSDK_SPLASH_PID" />
    <preference name="ADSDK_ISTEST" />

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AdSdk">
                <param name="android-package" value="com.gotojmp.cordova.adsdk.AdSdk"/>
                <param name="onload" value="true"/>
            </feature>
            <preference name="ADSDK_APPKEY" value="$ADSDK_APPKEY" />
            <preference name="ADSDK_SPLASH_PID" value="$ADSDK_SPLASH_PID" />
            <preference name="ADSDK_ISTEST" value="$ADSDK_ISTEST" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">

            <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.WRITE_SETTINGS" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_LOGS" />
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="cn.com.ad4.stat.BiyiStatService" android:exported="false"/>
            <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="$ADSDK_PACKAGE_NAME.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/gdt_file_path" />
            </provider>
            <activity android:name="cn.com.ad4.stat.ADActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
            <activity android:name="cn.com.ad4.quad.view.QuadPortraitActivity"
                android:screenOrientation="portrait"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
            <activity android:name="cn.com.ad4.quad.view.QuadLandscapeActivity"
                android:screenOrientation="landscape"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        </config-file>
        <source-file src="src/android/AdSdk.java" target-dir="src/com/gotojmp/cordova/adsdk"/>
        <source-file src="src/android/libs/quadsdk-1.9.8.ad.jar" target-dir="libs"/>
        <source-file src="src/android/libs/xml/gdt_file_path.xml" target-dir="res/xml"/>
        <framework src="com.android.support:appcompat-v7:23+" />
    </platform>

</plugin>
